@charset "UTF-8";

*{
    color: black;
}
body{
    background-color: rgb(78, 126, 189);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
}

header{
    text-align: center;
    color: white;
    padding-top: 10px;
}

section{
    background-color: white;
    width: 400px;
    height: 300px;
    border-radius: 10px;
    margin: auto;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.493) ;
}

div#numero{
    padding: 20px;
}

div#select{
    padding: 20px;
}
select{
    overflow: hidden;
    padding: 2px;
}

input[type = 'reset']{
    margin: 10px;
}
